<!DOCTYPE html>
<html lang="pt"
	xmlns="http://www.w3.org.1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	
	<title></title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light"
			style="background-color: #94B0B7">
			<div class="container-fluid">
				<div class="collapse navbar-collapse" id="navbarNav">
					<ul class="navbar-nav">
						<li class="nav-item1"><a class="nav-link active"
							aria-current="page" href="/inicioPag">IfStudy</a></li>
						<li class="nav-item2"><a class="nav-link active"
							aria-current="page" href="/buscaPerfil">Meu desenvolvimento</a></li>
						<li class="nav-item3"><a class="nav-link active"
							aria-current="page" href="/relatar">Cadastrar Estudo</a></li>
						<li class="nav-item4"><a class="nav-link active"
							aria-current="" href="/usuarios/config">configurações</a></li>
						<li class="nav-item dropdown">
						
					</ul>
				</div>
			</div>
		</nav>
		<div id="body">
 			
 			<section layout:fragment="corpo">
 				
 			</section>
 			
 		</div>
</body>
</html>